/* My own CSS */

.bg-header {
	background-image:url('images/bagground-home.jpg'); /* borrow from url: https://www.deviantart.com/kilartdev/art/Program-LeBlanc-774181093 */
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	height: 1000px;
}

.grid {
 
  height: content;
  width: content;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr ;
  grid-template-rows: 3fr 1fr 3fr;
	
}

.box {
  align-content: center;
  justify-content: 	center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#navbarSupportedContent {
	height: 30px;
}

#card {
	margin: 100px;
}